.container {
    padding-top: 100px;
    max-width: 800px;
    margin: 0 auto;

    font-family: sans-serif;
}

.default {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: grey;
} 

.divider {
    margin-top: 5px;
    margin-bottom: 20px;
    min-height: 20px;

    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 2px;

    font-family: initial;
    font-size: initial;
    font-weight: initial;
    text-transform: initial;
    color: initial;
}