:root {

    --black: #0A141E;

    --tan1: #FDFFDC;
    --tan2: #E8D8A2;

    --slate1: #D3EDF0;
    --slate2: #82A9BF;

    --red1: #FF5454;
    --red2: #7B2046;

    --blue1: #5850E6;
    --blue2: #2D266D;
    
}
  