/* share button with a link directly to home anchor tag */
/* add scroll-down arrow to bypass landing, toggle between home and landing? */
/* smooth scroll isn't working? */
/* "shuffle items" functionality */

.container {
  margin: 0 auto;
  max-width: 1350px;
  /* border: 2px solid red; */
}

.container section {
  scroll-snap-align: start;
}

#landing {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

#home {
  /* position: absolute;
  top: calc(100vh + 256px); */
  margin-bottom: 50px;

  scroll-snap-align: start;
  /* border: 2px solid fuchsia; */

  scroll-snap-align: start;
  background-color: white;
}

#footer {
  width: 100%;
  height: max-content;
  background-color: var(--black);
  z-index: 7;
  overflow-x: hidden;
}

.landing-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  width: 100%;
  height: 100vh;

  background: var(--blue1);
  overflow-x: hidden;
}

.grid-main {
/*   margin: 0 auto; */
  display: grid;
  height: auto;
  grid-template-columns: 1fr 5fr 1fr;
  /*  adjust for (fr) units instead of pixels  */
  width: 100%;
  align-items: stretch;
  /* border: 2px solid blue; */
}

.main-background {
  position: absolute;
  top: 100vh;
  background-color: white;
  width: 100%;
  /* transform: translateX(-50%); */
  z-index: -1;
}

.cover-container {
  height: 100vh;
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  grid-column: 1 / span 3;
  grid-row: 1;
  
  /* border: 2px solid gold; */
}

.progress-container {
  display: none;

  position: absolute;
  bottom: 20px;
  justify-self: center;
  align-self: end;
  
  display: flex;
  width: 50px;
  height: 50px;
  
  justify-content: center;
  align-items: end;
  
  /* border: 2px solid navy; */
}

.progress-empty {
  display: none;

  width: 5px;
  height: 50px;
  
  background-color: white;
}

.progress-fill {
  display: none;

  width: 5px;
  height: 0px;
  
  background-color: var(--black);
}

.cover-content {
  align-self: center;
  justify-self: center;
  margin-bottom: 50px;
  
  height: max-content;
  width: 100%;
  
  /* border: 2px solid lightblue; */
}

.cover-bio {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  max-width: 50%;
  color: white;

  /* border: 2px solid blue; */

  text-align: left;
}

.cover-buttons {
  margin-top: 15px;

  display: flex;
  justify-content: center;
  
  /* border: 2px solid fuchsia; */
}



.scroller-container {
  display: grid;
  grid-template-columns: calc(50% - 25px) 50px calc(50% - 25px);
  margin-bottom: 30px;
  
  height: 100px;
  width: 100%;
  align-items: center;
  
  /* border: 2px solid green; */
  
  font-size: 35px;
}

.scroller-left {
  grid-column: 1;
  
  width: 100%;
  height: 60px;
  
  overflow: hidden;
  /* border: 2px solid orangered; */
}

.scroller-left span {
  display: flex;
  height: max-content;

  /* background-color: red; */
  
  justify-content: right;
  align-items: center;

  font-family: "termina", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: right;
  color: var(--black);
  
  animation: text-cycle-2 24s infinite;
  animation-fill-mode: forwards;
}

.scroller-center {
  grid-column: 2;
  
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* border: 2px solid orangered; */
  
  font-family: "termina", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: var(--black);
}

.scroller-right {
  grid-column: 3;
  
  width: 100%;
  height: 60px;
  
  overflow: hidden;
  /* border: 2px solid orangered; */
}

.scroller-right span {
  display: flex;
  height: max-content;
  
  /* background-color: red; */
  
  justify-content: left;
  align-items: center;

  font-family: "termina", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: right;
  color: var(--black);
  
  animation: text-cycle-2 24s infinite;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}


@keyframes text-cycle-2 {
  from {
    transform: translateY(0);
} 20% { transform: translateY(0%); } 21% {
  transform: translateY(-105%);
} 21.5% {
  transform: translateY(-100%);
} 30% { transform: translateY(-100%); } 31% {
  transform: translateY(-205%);
} 31.5% {
  transform: translateY(-200%);
} 40% { transform: translateY(-200%); } 41% {
  transform: translateY(-305%);
} 41.5% {
  transform: translateY(-300%);
} 50% { transform: translateY(-300%); } 51% {
  transform: translateY(-405%);
} 51.5% {
  transform: translateY(-400%);
} 60% { transform: translateY(-400%); } 61% {
  transform: translateY(-505%);
} 61.5% {
  transform: translateY(-500%);
} 70% { transform: translateY(-500%); } 71% {
  transform: translateY(-605%);
} 71.5% {
  transform: translateY(-600%);
} 80% { transform: translateY(-600%); } 81% {
  transform: translateY(-705%);
} 81.5% {
  transform: translateY(-700%);
} 90% { transform: translateY(-700%); } 91% {
  transform: translateY(-805%);
} 91.5% {
  transform: translateY(-800%);
} to { transform: translateY(-800%); }

}

nav {
  grid-row: 2 / span 3;
  grid-column: 1 / span 1;
  position: sticky;
  top: 0px;
  z-index: 3;
  
  height: 50vh;
  padding: 0px 20px 0px 0px;
  
  /* border: 2px solid green; */
}

.logo-container-container {
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;

  /* border: 2px solid green; */
}

.logo-container {
  display: flex;
  justify-content: right;
  
  /* border: 2px solid salmon; */
  height: 50px;
  width: 100%;
}

.logo-container img {
  display: flex;
  justify-self: right;
  width: 50px;
  object-fit: contain;
}

.menu-button-container {
  display: none;
  justify-content: right;
  
  width: 50px;
  height: 50px;
  
  border: 2px solid cornflowerblue;
}

.menu-button {
  
}

nav ul {
  list-style-type: none;
}

nav li {
  margin-bottom: 10px;
  
  text-decoration: none;
  text-align: right;
  
  font-family: "termina", sans-serif;
  font-weight: 600;
  font-style: normal;

  font-size: 11px;
  line-height: 19px;
  letter-spacing: -0.01em;
  word-spacing: 0.15em;
  text-transform: uppercase;
  /* border: 2px solid lime; */
}



.li-active::before {
  display: none;
}

nav a::before {
  content: "→ ";
  position: relative;
  right: 10px;

  color: rgba(0, 0, 0, 0);

  transition: right 0.2s, color 0.2s;
}

nav a:hover {
  /* color: var(--blue1); */
}

nav a:hover::before {
  right: 0px;
  color: rgba(0, 0, 0, 1);
}

nav .li-active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/*

.header-left {
  position: sticky;
  top: 0;
  
  grid-row: 2;
  grid-column: 1 / span 1;
  border: 2px solid orange;
  height: 100px;
}

*/

.header-center {
  position: sticky;
  top: 0;
  z-index: 10;
  grid-row: 2;
  grid-column: 2 / span 1;

  display: flex;
  /* border: 2px solid orange; */
  /* background-color: white; */
  height: 100px;

  margin-bottom: 20px;
}

.header-center-background {
  position: sticky;
  top: 0;
  z-index: 2;
  grid-row: 2;
  grid-column: 1 / span 3;
  
  height: 100px;
  
  pointer-events: none;

  background-color: white;
}

.filter-container {
  z-index: 3;

  width: 100%;
  height: 85px;

  display: flex;
  flex-direction: row;
  align-items: end;
}

.toggle-filter {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  width: max-content;
  padding: 2px 15px;

  margin-right: 10px;

  background-color: white;
  border: 1px solid var(--slate2);
  border-radius: 3px;

  font-family: "termina", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--slate2);

  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.025em;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.toggle-filter:hover {
  background-color: white;
  color: var(--blue1);
  border-color: var(--blue1);
  /* border: 1px solid blue; */
}

.toggle-filter span {
  grid-row: 1;
  grid-column: 1;
}

.toggle-filter:last-of-type {
  margin-left: auto;
  margin-right: 0px;
}

.filter-exit {
  display: none;
  grid-row: 1;
  grid-column: 1;
}

.filter-active {
  color: white;
  background-color: var(--blue1);
  border-color: var(--blue1);
  transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.filter-active span {
  background-color: var(--blue1);
}

.filter-active:hover {
  color: white;
  background-color: var(--blue1);
  border-color: var(--blue1);
}

.filter-active:hover span {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

.filter-active:hover .filter-exit {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.header-right {
  position: sticky;
  top: 0;
  
  grid-row: 2;
  grid-column: 3 / span 1;
  /* border: 2px solid orange; */
  height: 100px;
  background-color: white;
}

.left-column {
  grid-row: 3;
  grid-column: 1 / span 1;
  height: 100%;
  border: 2px solid red;
}

.right-column {
  display: flex;
  position: sticky;
  top: 0;
  /* bottom: 0; */
  grid-row: 2 / span 2;
  grid-column: 3 / span 1;
  align-items: end;

  height: 100vh;
  /* border: 2px solid red; */
  overflow: hidden;
}

.btt {
  transform-origin: 0 100%;

  transform: rotate(90deg) translate(-100%, 0);
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  /* border: 2px solid red; */
}

.btt h4 {
  margin-bottom: 15px;
  /* background-color: green; */
}

.btt-arrow {
  display: flex;
  height: 19px;
  /* background-color: purple; */
  width: 15px;

  margin-right: 5px;
  overflow: hidden;
}

.btt-arrow h4 {
  margin-bottom: 0;
  display: inline;
  margin-right: 9px;
}

.btt:hover .btt-arrow h4 {
  animation: arrow 0.5s infinite;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  } 99.99% { 
    transform: translateX(-19px); 
  } 100% {
    transform: translateX(0px);
  }

}


.grid-content {
  grid-row: 3;
  grid-column: 2 / span 1;
  height: max-content;

  display: grid;
  grid-template-columns: repeat(3, minmax(240px, auto));
  grid-auto-flow: row;
  place-items: start;
  column-gap: 15px;
  row-gap: 15px;
  /* border: 2px solid var(--red1); */
}

.highlight {
  border: 5px solid pink;
  grid-row: 3;
  grid-column: 2 / span 1;
  z-index: 10;
}

.header-center:hover .project-label {
  pointer-events: none;
}

.project {
  display: grid;
  width: 100%;
  aspect-ratio: 1 / 1;
  
  justify-items: center;
  align-items: center;

  text-align: center;
  overflow: hidden;

  border-radius: 3px;
  background-color: var(--tan1);

  transition: transform 0.2s;
  /* transition-timing-function: cubic-bezier(1,-0.5,0,1.5); */
}



.project-label {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;

  width: 98%;
  height: 98%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 1px;
  text-align: left;

  filter: opacity(0%);

  transition: filter 0.1s;
}

.project-label h2 {
  margin-bottom: 4px;
}

.in-progress {
  color: var(--red1);
}

.project img {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  z-index: 1;
}

.project a {
  display: block;
  grid-row: 1;
  grid-column: 1;
  z-index: 4;

  width: 100%;
  height: 100%;
}

.project:hover {
  transform: scale(103%);
}

.project:hover .project-label {
  filter: opacity(100%);
}

.footer-container {
  max-width: 1350px;
  margin: 0 auto;
}

.footer-content {
  z-index: 2;

  grid-row: 1;
  grid-column: 2 / span 1;
  margin-top: 30px;
  margin-bottom: 50px;
  
  height: max-content;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: white;
}

@media (max-width: 1024px) {
  
  .grid-main {
/*     grid-template-columns: minmax(150px, auto) minmax(400px, 480px) minmax(150px, auto); */
    grid-template-columns: 2fr 7fr 0.5fr;
  }
  
  #landing {
    grid-template-columns: 0 100% 0;
  }
  
  .grid-content {
/*     grid-template-columns: repeat(2, minmax(200px, 240px)); */
    grid-template-columns: 1fr 1fr;
  }
  
  .cover-container {
    grid-column: 1 / span 3;
    grid-row: 1;

    /* border: 2px solid gold; */
  }

  
  .scroller-container {
    grid-template-columns: calc(50% - 20px) 40px calc(50% - 20px);
    height: 80px;
    font-size: 35px;
  }
  
  .scroller-left {
    height: 50px;
  }
  
  .scroller-center {
    height: 50px;
  }
  
  .scroller-right {
    height: 50px;
  }
  
}

@media (max-width: 500px) {
  
  .grid-main {
    grid-template-columns: minmax(10px, auto) 1fr minmax(10px, auto);
  }

  .scroller-container {
    margin: 0 auto;
    grid-template-rows: 50px 50px;
    grid-template-columns: 40px calc(100% - 40px);
    max-width: 300px;
    height: 130px;
    font-size: 35px;
  }
  
  .scroller-left {
    grid-row: 1;
    grid-column: 1 / span 2;
    height: 50px;
    text-align: left;
  }
  
  .scroller-left span {
    justify-content: left;
    align-items: center;
    text-align: left;
  }
  
  .scroller-center {
    grid-row: 2;
    grid-column: 1;
    height: 50px;
  }
  
  .scroller-right {
    grid-row: 2;
    grid-column: 2;
    height: 50px;
  }
  
  nav {
    grid-row: 2;
    grid-column: 2 / span 1;
    top: 0px;
    
    height: 100px;
    padding: 20px 0px;
  }
  
  .logo-container {
    justify-content: space-between;
  }
  
  .menu-button-container {
    display: flex;
  }
  
  nav ul {
    display: none;
  }
  
  .header-center {
    grid-row: 3;
    top: 100px;
  }
  
  .grid-content {
    grid-row: 4;
    grid-template-columns: 1fr;
  }
  
  .footer{
    grid-row: 5;
    grid-column: 2 / span 1;
    height: 160px;
  }
  
}